<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary"><span>Text-to-speech tester</span></mat-toolbar>
<div class='content' fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <textarea matInput placeholder="Write your Text or SSML here." #input></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="stretch center">
    <mat-form-field appearance="fill">
      <mat-label>Selected Voice</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Selected Voice"
             matInput
             [matAutocomplete]="auto"
             [formControl]="autoCompleteControl"
             >
      <mat-autocomplete (optionSelected)="currentVoice = $event.option.value" autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let voice of filteredVoices | async" [value]="voice.name">
          {{voice.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="ssml">SSML</mat-checkbox>
    <button fxLayoutAlign="start" mat-raised-button color="primary" (click)="sendRequest(input.value)">Execute</button>
    <span>{{message}}</span>
    <button *ngIf="audio" mat-raised-button color="secondary" (click)="playAudio()">
      <mat-icon>play_arrow</mat-icon> Play
    </button>
    <a download="audio-file" id="audioRecordDownload" href="{{this.audiocontent}}">
    <button *ngIf="audio" mat-raised-button color="primary">
     
      <mat-icon>download</mat-icon> Download
    </button>
  </a>
  </div>
</div>